
@font-face{
    font-family:Lora;
    src: url(Lora/Lora-Italic-VariableFont_wght.ttf);
}
body{
    background-image:url(background4.jpg);
    background-size: contain;
}
.heading{
    font-size:30px;
    font-family:Lora;
    font-weight:bolder;
    text-shadow: .3em .3em silver;

}
.paragraph{
    font-size:15pxpx;
    font-family:fantasy;
}

.ending{
    font-size:30px;
}
.container{
    clear:both;
    text-align:center;
    padding-top:30px;

}

#link1:hover{
    font-size:20px;
    font-family:Courier;
    color:red;
}

#link2:link{
    color:navy;

}

#link3:visited{
    font-size:20px;
    color:green;
    background:rgba(200,240,20,0.2)
}

#link4:active{
    background:rgba(120,200,40,.4);
    font-size:20px;
    color:red;

}

#link5:hover{
     font-size:20px;
     font-family:Courier;
     color:red;
}


}
.text1{
    box-sizing: border-box;
    border-style: double;
    padding-top:10px;
    border-color:red;
    box-shadow: 6px 6px 5px 10px yellow;
    width: 150px;
    height: 50px;
}
.text2{
    box-sizing: border-box;
    border-style: double;
    padding-top:10px;
    border-color:red;
    box-shadow: 6px 6px 5px 10px yellow;
    width: 150px;
    height: 50px;
    float:left;
    text-align:right;

}
.text3{
    box-sizing: border-box;
    border-style: double;
    padding-top:10px;
    border-color:red;
    box-shadow: 6px 6px 5px 10px yellow;
    width: 150px;
    height: 50px;
    clear:both;
}
.text4{
    box-sizing: border-box;
    border-style: double;
    padding-top:10px;
    border-color:red;
    box-shadow: 6px 6px 5px 10px yellow;
    width: 150px;
    height: 50px;
    float:left;
    text-align:right;

}
.text5{
    clear:both;
    text-align:center;
}
#text6{
    text-align:center;
}
.picture1{
    border-radius: 50px;
    border-style:solid;
    width:350px;
    height:auto;
    float: left;
    margin-left:100px;
    margin-right: 100px;
    margin-top: 100px;
}
.picture2{
    width:300px:
    height:auto;
    border-radius: 50px;
    border-style:solid;
    float:left;
    margin-left:200px;
    margin-right: 50px;

}

.picture3{
    border-radius: 50px;
    border-style:solid;
    width:350px;
    height:auto;
    float: left;
    margin-left:100px;
    margin-right: 100px;
    margin-top: 100px;
}

.picture4{
    width:300px:
    height:auto;
    border-radius: 50px;
    border-style:solid;
    margin-left:200px;
    margin-right: 50px;

}
.picture5{
    width:300px:
    height:auto;
    border-radius: 50px;
    border-style:solid;
    float:left;
    margin-left:550px;



}
.picture6{
        width:300px:
        height:auto;
        border-radius: 50px;
        border-style:solid;
        margin-left:550px;
}
.picture7{
        width:300px:
        height:auto;
        border-radius: 50px;
        border-style:solid;
        margin-left:500px;
}

