<!DOCTYPE html>
<html>

<head>
    <title>
        Website Layout
    </title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>


<body>

<div class="wrapper">
    <div class="header">
        <h2>
            NOW AND THEN
        </h2>
    </div>

    <div class="nav_menu">
        <a href="Musical.html">Musical Details</a>
        <a href="Background.html">Composing Background</a>
        <a href="Beatles.html">The Beatles</a>
    </div>
    <div class="image1">
        <a href="https://www.youtube.com/watch?v=Opxhh9Oh3rg"><img src="./image/Now%20and%20then.jpg" alt="Now and then MV image"></a>
    </div>

    <!-- Content section of website layout -->


        <div class="columnA">
            <a href="Musical.html"><h2>Musical Details</h2></a>

            <p>
                Now and Then, released on Thursday, is billed by its label, Apple Corps, as the last Beatles song. It's a lost-love song reconstructed from a piano-and-vocal demo that John Lennon recorded in the late 1970s, well after the Beatles broke up. Yoko Ono brought it and other Lennon demos to the surviving Beatles in 1994.
            </p>

        </div>

        <div class="columnB">
            <a href="Background.html"><h2>Composing Background</h2></a>

            <p>
                Paul McCartney, George Harrison and Ringo Starr began building an arrangement around Lennon's recording in 1995, the year they released another posthumous song, "Free as a Bird," on the compilation album "Anthology 1," followed by "Real Love" on "Anthology 2" in 1996. "Now and Then" is also, inevitably, a marketing tool. It's the previously unreleased material added to the expanded, remixed reissue of "The Beatles 1967-1970," which arrives on Nov. 10 paired with an expanded, remixed version of "The Beatles 1962-1966." Those two compilations are better known as the Blue and Red albums.
            </p>

        </div>

        <div class="columnC">
            <a href="Beatles.html"><h2>The Beatles</h2></a>
            <p>
                The Beatles were an English rock band formed in Liverpool in 1960, comprising John Lennon, Paul McCartney, George Harrison, and Ringo Starr. They are regarded as the most influential band of all time and were integral to the development of 1960s counterculture and the recognition of popular music as an art form.
            </p>
        </div>

    <div class="image2">
        <img src="./image/JohnMusic.webp" alt="john">
    </div>
    <div class="image3">
        <img src="./image/The-Beatles---background.webp" alt="writing">
    </div>

    <div class="image4">
        <img src="./image/The-Beatles---beatles.webp" alt="beatles">
    </div>

</div>
</body>

</html>